<div class="max-w-4xl bg-white p-6  tracking-tight">
    <h1 class="text-2xl font-bold mb-4 text-darkpink">Avis de Non-responsabilité pour les Échanges et les Ventes de Produits sur Notre Site Web</h1>

    <p class="mb-4">Bienvenue sur Mamiz. Veuillez lire attentivement les informations suivantes qui détaillent notre politique de non-responsabilité concernant les échanges et les ventes de produits entre utilisateurs sur notre plateforme.</p>

    <h2 class="text-xl font-semibold mb-2 text-teal">1. Plateforme de Mise en Relation</h2>
    <p class="mb-4">Notre site web agit uniquement en tant que plateforme de mise en relation entre vendeurs et acheteurs. Nous ne sommes pas directement impliqués dans les transactions entre les utilisateurs, y compris mais sans s'y limiter, les ventes de produits.</p>

    <h2 class="text-xl font-semibold mb-2 text-teal">2. Responsabilité Limitée</h2>
    <p class="mb-4">Nous déclinons toute responsabilité pour les transactions effectuées entre utilisateurs. Cela inclut, sans s'y limiter, la qualité des produits, la conformité aux descriptions, la livraison, les retours ou tout litige découlant des transactions réalisées sur notre plateforme.</p>

    <h2 class="text-xl font-semibold mb-2 text-teal">3. Vérification et Prudence</h2>
    <p class="mb-4">Il est de la responsabilité des utilisateurs de vérifier l'exactitude des informations sur les produits, la réputation des vendeurs et la légalité des transactions avant de conclure un achat ou une vente. Nous encourageons les utilisateurs à exercer la prudence et à se conformer aux lois et réglementations applicables.</p>

    <h2 class="text-xl font-semibold mb-2 text-teal">4. Avis de Non-garantie</h2>
    <p class="mb-4">Nous ne garantissons pas la disponibilité, la qualité, la sécurité ou la légalité des produits ou services proposés par les utilisateurs sur notre site web. Les utilisateurs acceptent d'utiliser notre plateforme à leurs propres risques et reconnaissent que nous ne fournissons aucune garantie expresse ou implicite concernant les transactions effectuées.</p>

    <h2 class="text-xl font-semibold mb-2 text-teal">5. Modifications des Conditions</h2>
    <p class="mb-4">Nous nous réservons le droit de modifier les présentes conditions à tout moment et sans préavis. Les modifications seront publiées sur cette page et seront effectives dès leur publication. Il est de la responsabilité des utilisateurs de consulter régulièrement cette page pour prendre connaissance des mises à jour éventuelles.</p>

    <h2 class="text-xl font-semibold mb-2 text-teal">6. Acceptation des Conditions</h2>
    <p class="mb-4">En utilisant notre site web pour effectuer des transactions avec d'autres utilisateurs, vous reconnaissez avoir lu, compris et accepté les présentes conditions de non-responsabilité. Si vous n'acceptez pas ces conditions, nous vous recommandons de ne pas utiliser notre plateforme pour des échanges ou des ventes de produits.</p>

    <h2 class="text-xl font-semibold mb-2 text-teal">Contact</h2>
    <p class="mb-4">Si vous avez des questions concernant notre politique de non-responsabilité ou si vous souhaitez discuter de toute autre question, veuillez nous contacter.</p>
    <hr class="mb-3">
    <p>Nous vous remercions d'avoir pris connaissance de notre avis de non-responsabilité pour les échanges et les ventes de produits sur notre site web. Nous nous efforçons de fournir une plateforme sécurisée et efficace pour nos utilisateurs tout en encourageant des transactions équitables et respectueuses des réglementations en vigueur.</p>
</div>