<div
  class="max-w-xs md:max-w-sm p-6 bg-white border border-darkpink rounded-xl shadow"
>
  <div>
    <div
      class="bg-teal h-auto w-fit px-2 mb-2 text-sm md:text-base font-bold text-white"
    >
      <p>{{theme}}</p>
    </div>
    <a href="#">
      <h5
        class="mb-2 md:text-2xl tracking-tighter text-gray-900"
        style="font-family: helBold"
      >
        {{title}}
      </h5>
    </a>
    <p class="mb-3 font-normal text-black truncate">
      {{question}}
    </p>
  </div>
  <a
    routerLink="/forum"
    class="inline-flex items-center px-3 py-2 md:text-sm font-medium text-center c2 text-teal bg-lightpink rounded-lg hover:bg-darkpink hover:text-lightblue focus:ring-4 focus:outline-none focus:ring-blue-300 gap-2"
  >
    Voir Réponse
    <i class="fa-solid fa-arrow-right"></i>
  </a>
</div>
