<div class="overflow-visible flex-auto">
    <!-- Carousel -->
    <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <!-- Item 1 -->
            <div class=" duration-700 ease-in-out" data-carousel-item>
                <img src="assets\Carousel\carousel1.png"
                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 2 -->
            <div class=" duration-700 ease-in-out" data-carousel-item>
                <img src="assets\useful stuff\tiktok.png"
                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 3 -->
            <div class=" duration-700 ease-in-out" data-carousel-item>
                <img src="assets\useful stuff\instagram.png"
                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 4 -->
            <div class=" duration-700 ease-in-out" data-carousel-item>
                <img src="assets\Carousel\carousel1.png"
                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 5 -->
            <div class=" duration-700 ease-in-out" data-carousel-item>
                <img src="assets\Carousel\carousel1.png"
                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
        </div>
        <!-- Slider indicators -->
        <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                data-carousel-slide-to="0"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                data-carousel-slide-to="1"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                data-carousel-slide-to="2"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4"
                data-carousel-slide-to="3"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5"
                data-carousel-slide-to="4"></button>
        </div>
        <!-- Slider controls -->
        <button type="button"
            class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-prev>
            <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 1 1 5l4 4" />
                </svg>
                <span class="sr-only">Précédent</span>
            </span>
        </button>
        <button type="button"
            class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-next>
            <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 9 4-4-4-4" />
                </svg>
                <span class="sr-only">Suivant</span>
            </span>
        </button>
    </div>

    <div class="flex flex-col items-center justify-center">
        <span class="text-center font-bold text-5xl md:text-8xl mb-8">Nos Reseaux sociaux</span>

        <div class="flex justify-center">
            <!-- Instagram -->
            <div class="flex flex-col items-center mr-12">
                <a href="https://www.instagram.com/mamiz.tn?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img
                        src="assets\useful stuff\instagram.png" alt="" class="max-h-40 mb-4"></a>
                <span class="font-bold text-darkpink text-5xl mb-2">63K</span>
                <span class="font-bold text-darkpink text-3xl">followers</span>
            </div>

            <!-- Facebook -->
            <div class="flex flex-col items-center mx-12">
                <img src="assets\useful stuff\facebook.png" alt="" class="max-h-40 mb-4">
                <span class="font-bold text-darkpink text-5xl mb-2">63K</span>
                <span class="font-bold text-darkpink text-3xl">followers</span>
            </div>

            <!-- TikTok -->
            <div class="flex flex-col items-center ml-12">
                <img src="assets\useful stuff\tiktok.png" alt="" class="max-h-40 mb-4">
                <span class="font-bold text-darkpink text-5xl mb-2">63K</span>
                <span class="font-bold text-darkpink text-3xl">followers</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="flex flex-row items-center justify-center px-4 ">
        <div class="mb-8">
            <figure class="relative max-w-sm">
                <a href="#">
                    <img class="rounded-md h-auto max-w-md transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png"
                        alt="image description">
                </a>
                <figcaption class="absolute px-4 text-lg text-white bottom-6 font-bold">
                    <div class="bg-lightblue h-auto w-fit px-2 mb-2">
                        <p>Theme</p>
                    </div>
                    <p>Do you want to get notified when a new component is added to Flowbite?</p>
                </figcaption>
            </figure>
        </div>
        <div class="max-h-">
            <ul class="flex flex-col items-center gap-8">
                <!-- Item 1 -->
                <li class="flex flex-row items-center">
                    <div class="relative max-w-xs w-40">
                        <a href="#">
                            <img class="rounded-md h-auto w-full transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png"
                                alt="image description">
                        </a>
                        
                    </div>
                    <div>
                        <div class="bg-lightblue h-auto w-fit px-2 mb-2">
                            <p>Theme 1</p>
                        </div>
                        <p>Title 1</p>
                    </div>
                </li>
                <!-- Item 2 -->
                <li class="flex flex-row items-center">
                    <div class="relative max-w-xs w-40">
                        <a href="#">
                            <img class="rounded-md h-auto w-full transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png"
                                alt="image description">
                        </a>
                        
                    </div>
                    <div>
                            <div class="bg-lightblue h-auto w-fit px-2 mb-2">
                                <p>Theme 2</p>
                            </div>
                            <p>Title 2</p>
                    </div>
                </li>
                <!-- Item 3 -->
                <li class="flex flex-row items-center">
                    <div class="relative max-w-xs w-40">
                        <a href="#">
                            <img class="rounded-md h-auto w-full transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png"
                                alt="image description">
                        </a>

                    </div>
                    <div>
                        <div class="bg-lightblue h-auto w-fit px-2 mb-2">
                            <p>Theme 3</p>
                        </div>
                        <p>Title 3</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</div>