 <div class="flex flex-row items-center justify-center px-4 ">
        <div class="mb-8">
            <figure class="relative max-w-sm">
                <a href="#">
                    <img class="rounded-md h-auto max-w-md transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png"
                        alt="image description">
                </a>
                <figcaption class="absolute px-4 text-lg text-white bottom-6 font-bold">
                    <div class="bg-lightblue h-auto w-fit px-2 mb-2">
                        <p>Theme</p>
                    </div>
                    <p>Do you want to get notified when a new component is added to Flowbite?</p>
                </figcaption>
            </figure>
        </div>
        <div class="max-h-">
            <ul class="flex flex-col items-center gap-8">
                <!-- Item 1 -->
                <li class="flex flex-row items-center">
                    <div class="relative max-w-xs w-40">
                        <a href="#">
                            <img class="rounded-md h-auto w-full transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png"
                                alt="image description">
                        </a>
                        
                    </div>
                    <div>
                        <div class="bg-lightblue h-auto w-fit px-2 mb-2">
                            <p>Theme 1</p>
                        </div>
                        <p>Title 1</p>
                    </div>
                </li>
                <!-- Item 2 -->
                <li class="flex flex-row items-center">
                    <div class="relative max-w-xs w-40">
                        <a href="#">
                            <img class="rounded-md h-auto w-full transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png"
                                alt="image description">
                        </a>
                        
                    </div>
                    <div>
                            <div class="bg-lightblue h-auto w-fit px-2 mb-2">
                                <p>Theme 2</p>
                            </div>
                            <p>Title 2</p>
                    </div>
                </li>
                <!-- Item 3 -->
                <li class="flex flex-row items-center">
                    <div class="relative max-w-xs w-40">
                        <a href="#">
                            <img class="rounded-md h-auto w-full transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png"
                                alt="image description">
                        </a>

                    </div>
                    <div>
                        <div class="bg-lightblue h-auto w-fit px-2 mb-2">
                            <p>Theme 3</p>
                        </div>
                        <p>Title 3</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>