<span class="text-7xl tracking-tighter m- " style="font-family: 'helBold';">
    Deniers Articles
</span>
<div class="md:grid md:grid-cols-2 gap-4 p-4 flex flex-col">
    <div class="col-span-1 row-span-4 relative flex flex-col justify-center items-center">
        <figure class="relative w-full h-full">
            <div class="imgCont w-full h-full">
                <a href="#">
                    <img class="rounded-md h-full w-full object-cover transition-all duration-300 cursor-pointer"
                        src="assets/useful stuff/Studentinclassroom.jpeg" alt="image description">
                </a>
            </div>
            <figcaption class="absolute bottom-6 left-0 px-4 text-lg text-white font-bold">
                <div class="bg-lightblue text-black h-auto w-fit px-2 mb-2">
                    <p>Theme</p>
                </div>
                <p class="line-clamp-2 w-full text-3xl">Do you want to get notified when a new component is added to Flowbite?</p>
            </figcaption>
        </figure>
    </div>
    <div class="col-span-1 bg-aquamarine flex items-center gap-4 p-4">
        <div class="relative w-40 h-40">
            <a href="#">
                <img class="rounded-md w-full h-full object-cover transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                    src="assets/useful stuff/Studentinclassroom.jpeg" alt="image description">
            </a>
        </div>
        <div>
            <div class="bg-pink h-auto w-fit px-2 mb-2">
                <p>Theme 1</p>
            </div>
            <p class="line-clamp-2 w-full text-">Do you want to get notified when a new component is added to Flowbite?</p>
        </div>
    </div>

    <div class="col-span-1  flex items-center gap-4 p-4">
        <div class="relative w-40 h-40">
            <a href="#">
                <img class="rounded-md w-full h-full object-cover transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png"
                    alt="image description">
            </a>
        </div>
        <div>
            <div class="bg-darkpink h-auto w-fit px-2 mb-2">
                <p>Theme 2</p>
            </div>
            <p class="line-clamp-2 w-full">Do you want to get notified when a new component is added to Flowbite?</p>
        </div>
    </div>

    <div class="col-span-1  flex items-center gap-4 p-4">
        <div class="relative w-40 h-40">
            <a href="#">
                <img class="rounded-md w-full h-full object-cover transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png"
                    alt="image description">
            </a>
        </div>
        <div>
            <div class="bg-teal h-auto w-fit px-2 mb-2">
                <p>Theme 3</p>
            </div>
            <p class="line-clamp-2 max-w-lg">Do you want to get notified when a new component is added to Flowbite?</p>
        </div>
    </div>
</div>