<div class="container mx-auto px-4 py-8">
    <div class="">
        <h1 class="text-3xl font-bold mb-6 text-darkpink">Bienvenue sur notre page FAQ !</h1>
        <p class="mb-6">Nous avons rassemblé ici les questions les plus fréquemment posées par nos lecteurs pour vous offrir des réponses rapides et utiles. Si vous ne trouvez pas la réponse à votre question, n'hésitez pas à nous contacter directement.</p>

        <div class="mb-6">
            <h2 class="text-2xl font-semibold mb-4 text-teal">Questions Générales</h2>
            <div class="mb-4">
                <h3 class="font-bold">Q: Comment puis-je m'inscrire sur votre site ?</h3>
                <p>R: Pour vous inscrire, cliquez sur le bouton "S'inscrire" en haut de la page, remplissez le formulaire avec vos informations personnelles, et suivez les instructions pour confirmer votre inscription par email.</p>
            </div>
            <div class="mb-4">
                <h3 class="font-bold">Q: Est-ce que l'inscription est gratuite ?</h3>
                <p>R: Oui, l'inscription de base est gratuite. Cependant, certains services premium peuvent nécessiter un abonnement payant.</p>
            </div>
        </div>

        <div class="mb-6">
            <h2 class="text-2xl font-semibold mb-4 text-teal">Contenu du Magazine</h2>
            <div class="mb-4">
                <h3 class="font-bold">Q: Quels types d'articles proposez-vous ?</h3>
                <p>R: Nous proposons une variété d'articles sur la santé, incluant des sujets sur la nutrition, le bien-être, la forme physique, la santé mentale, les maladies courantes, et les dernières avancées médicales.</p>
            </div>
        </div>

        <div class="mb-6">
            <h2 class="text-2xl font-semibold mb-4 text-teal">Notifications et Newsletters</h2>
            <div class="mb-4">
                <h3 class="font-bold">Q: Comment puis-je m'inscrire à la newsletter ?</h3>
                <p>R: Pour vous inscrire à notre newsletter, entrez votre adresse email dans le champ "Inscription à la newsletter" situé en bas de notre page d'accueil et cliquez sur "S'inscrire".</p>
            </div>
            <div class="mb-4">
                <h3 class="font-bold">Q: Comment gérer mes préférences de notification ?</h3>
                <p>R: Connectez-vous à votre compte, accédez à la section "Préférences de notification", et ajustez vos paramètres pour recevoir les notifications qui vous intéressent.</p>
            </div>
        </div>

        <div class="mb-6">
            <h2 class="text-2xl font-semibold mb-4 text-teal">Assistance et Support</h2>
            <div class="mb-4">
                <h3 class="font-bold">Q: Que faire si j'ai des problèmes pour accéder à mon compte ?</h3>
                <p>R: Si vous rencontrez des problèmes pour accéder à votre compte, utilisez la fonction "Mot de passe oublié" sur la page de connexion. Si le problème persiste, contactez notre support technique.</p>
            </div>
            <div class="mb-4">
                <h3 class="font-bold">Q: Comment puis-je contacter le service client ?</h3>
                <p>R: Vous pouvez nous contacter via le formulaire de contact sur notre site.</p>
            </div>
        </div>

        <div class="mb-6">
            <h2 class="text-2xl font-semibold mb-4 text-teal">Publicité et Partenariats</h2>
            <div class="mb-4">
                <h3 class="font-bold">Q: Comment puis-je annoncer dans votre magazine ?</h3>
                <p>R: Pour toute demande de publicité, envoyez un email avec les détails de votre proposition. Notre équipe vous contactera pour discuter des options disponibles.</p>
            </div>
            <div class="mb-4">
                <h3 class="font-bold">Q: Proposez-vous des partenariats avec d'autres entreprises ?</h3>
                <p>R: Oui, nous sommes ouverts aux partenariats avec des entreprises partageant nos valeurs. Contactez-nous pour plus d'informations.</p>
            </div>
        </div>

        <p>Merci de visiter notre site ! Nous espérons que vous trouverez les réponses à vos questions ici. Pour toute autre question, n'hésitez pas à nous contacter.</p>
    </div>
</div>