<section class="py-8 bg-white">
  <h2 class="text-7xl tracking-tighter font-bold mb-4 text-center" style="font-family: helBold;">Depot Maman</h2>
  <div class="relative">

    <div id="scrollContainer" class="overflow-x-auto whitespace-nowrap scroll-smooth">
      <button class="absolute left-0 z-10 h-full px-4 text-darkpink bg-lightblue rounded-lg ml-2 opacity-75 hover:opacity-100"
        (click)="scrollLeft()">
        <i class="fa-solid fa-chevron-left fa-xl"></i>
      </button>
      <div class="inline-block bg-lightpink shadow-lg p-4 rounded-lg c1 mx-2">
        <img src="../../../../assets/useful stuff/poussette.jpg" alt="Depot Item"
          class="w-60 h-32 object-cover rounded-lg mb-4">
        <hr class="border-0 h-0.5 bg-lightblue">
        <h3 class="text-3xl font-semibold mt-2 tracking-tighter">Poussette</h3>
        <p class="mt-2 text-teal tracking-tighter">Lorem ipsum dolor sit amet.</p>
        <p class="text-teal tracking-tighter">Price: $20.00</p>
      </div>
      <div class="inline-block bg-lightpink shadow-lg p-4 rounded-lg c1 mx-2">
        <img src="../../../../assets/useful stuff/poussette.jpg" alt="Depot Item"
          class="w-60 h-32 object-cover rounded-lg mb-4">
        <hr class="border-0 h-0.5 bg-lightblue">
        <h3 class="text-3xl font-semibold mt-2 tracking-tighter">Poussette</h3>
        <p class="mt-2 text-teal tracking-tighter">Lorem ipsum dolor sit amet.</p>
        <p class="text-teal tracking-tighter">Price: $20.00</p>
      </div>
      <div class="inline-block bg-lightpink shadow-lg p-4 rounded-lg c1 mx-2">
        <img src="../../../../assets/useful stuff/poussette.jpg" alt="Depot Item"
          class="w-60 h-32 object-cover rounded-lg mb-4">
        <hr class="border-0 h-0.5 bg-lightblue">
        <h3 class="text-3xl font-semibold mt-2 tracking-tighter">Poussette</h3>
        <p class="mt-2 text-teal tracking-tighter">Lorem ipsum dolor sit amet.</p>
        <p class="text-teal tracking-tighter">Price: $20.00</p>
      </div>
      <div class="inline-block bg-lightpink shadow-lg p-4 rounded-lg c1 mx-2">
        <img src="../../../../assets/useful stuff/poussette.jpg" alt="Depot Item"
          class="w-60 h-32 object-cover rounded-lg mb-4">
        <hr class="border-0 h-0.5 bg-lightblue">
        <h3 class="text-3xl font-semibold mt-2 tracking-tighter">Poussette</h3>
        <p class="mt-2 text-teal tracking-tighter">Lorem ipsum dolor sit amet.</p>
        <p class="text-teal tracking-tighter">Price: $20.00</p>
      </div>
      <div class="inline-block bg-lightpink shadow-lg p-4 rounded-lg c1 mx-2">
        <img src="../../../../assets/useful stuff/poussette.jpg" alt="Depot Item"
          class="w-60 h-32 object-cover rounded-lg mb-4">
        <hr class="border-0 h-0.5 bg-lightblue">
        <h3 class="text-3xl font-semibold mt-2 tracking-tighter">Poussette</h3>
        <p class="mt-2 text-teal tracking-tighter">Lorem ipsum dolor sit amet.</p>
        <p class="text-teal tracking-tighter">Price: $20.00</p>
      </div><button class="absolute right-0 z-10 h-full px-4 text-darkpink bg-lightblue rounded-lg ml-2 opacity-75 hover:opacity-100"
        (click)="scrollRight()">
        <i class="fa-solid fa-chevron-right fa-xl"></i>
      </button>
    </div>
  </div>
</section>