<section class="py-8 bg-white">
  <h2 class="text-2xl font-bold mb-4 text-center">Depot Maman</h2>
  <div class="flex justify-center space-x-4 overflow-x-scroll">
    <div class="bg-gray-100 shadow-lg p-4 rounded-lg">
      <img src="../../../../assets/useful stuff/poussette.jpg" alt="Depot Item" class="w-full h-32 object-cover rounded-lg border-b-4 border-gray-500">
      <h3 class="text-xl font-semibold mt-2">Poussette</h3>
      <p class="mt-2">Lorem ipsum dolor sit amet.</p>
      <p>Price: $20.00</p>
    </div>
    <div class="bg-gray-100 shadow-lg p-4 rounded-lg">
      <img src="../../../../assets/useful stuff/poussette.jpg" alt="Depot Item" class="w-full h-32 object-cover rounded-lg border-b-4 border-gray-500">
      <h3 class="text-xl font-semibold mt-2">Poussette</h3>
      <p class="mt-2">Lorem ipsum dolor sit amet.</p>
      <p>Price: $20.00</p>
    </div>
  </div>
</section>
