<div class="bg-lightpink p-4">
    <p class="font-bold tracking-tighter text-5xl">
        Nos Articles
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt cupiditate at sit consequatur, mollitia alias soluta? Magni, quos animi pariatur ducimus, non culpa placeat praesentium repudiandae veniam nemo, odio necessitatibus.
    </p>
    <div class="m-10">
        <div class="grid grid-cols-2 ">
            <div class=" h-52 bg-teal">

            </div>
            <div class=" grid-rows-2">
                <div class=" h-24 bg-red-600">

                </div>
                <div class=" h-24 grid grid-cols-2" >
                    <div class="bg-yellow-600">

                    </div>
                    <div class="bg-blue-600">

                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>