<div class="bg-lightpink p-4">
    <p class="font-bold tracking-tighter text-5xl">
        Nos Articles
    </p>
    <div class="m-10">
        <div class="grid grid-cols-2 gap-4">
            <div class="relative shadow-lg rounded-lg overflow-hidden w-full h-96 c1">
                <img src="assets/useful stuff/Studentinclassroom.jpeg" alt="Atelier Image"
                    class="w-full h-96 object-cover" />
                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-60"></div>
                <div class="absolute bottom-4 left-4 gap-3">
                    <div>
                        <p class="text-white font-bold  bg-teal w-fit px-2 text-xs md:text-base">
                            Grossesse
                        </p>
                        <h1 class="text-white font-bold tracking-tighter text-3xl ">
                            Les Étapes Cruciales de la Grossesse
                        </h1>
                        <p class="text-gray-300 text-sm">
                            by Admin, <span class="italic font-thin">06 Septembre 2024</span>
                        </p>
                    </div>
                </div>

            </div>
            <div class=" grid-rows-2 space-y-4">
                <div class=" h-48 relative shadow-lg rounded-lg overflow-hidden w-full">
                    <img src="assets/useful stuff/Studentinclassroom.jpeg" alt="Atelier Image"
                        class="w-full h-48 object-cover" />
                    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-60"></div>
                    <div class="absolute bottom-4 left-4 gap-3">
                        <div>
                            <p class="text-white font-bold  bg-darkpink w-fit px-2 text-xs md:text-base">
                                Grossesse
                            </p>
                            <h1 class="text-white font-bold tracking-tighter text-3xl ">
                                Alimentation et Bien-être Pendant la Grossesse 
                            </h1>
                        </div>
                    </div>
                </div>
                <div class=" h-44 grid grid-cols-2 gap-4">
                    <div class="  relative shadow-lg rounded-lg overflow-hidden w-full">
                        <img src="assets/useful stuff/Studentinclassroom.jpeg" alt="Atelier Image"
                            class="w-full h-48 object-cover" />
                        <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-60"></div>
                        <div class="absolute bottom-4 left-4 gap-3">
                            <div>
                                <p class="text-white font-bold  bg-darkpink w-fit px-2 text-xs md:text-base">
                                    Grossesse
                                </p>
                                <h1 class="text-white font-bold tracking-tighter text-xl ">
                                    Préparer l'Arrivée de Bébé
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="  relative shadow-lg rounded-lg overflow-hidden w-full">
                        <img src="assets/useful stuff/Studentinclassroom.jpeg" alt="Atelier Image"
                            class="w-full h-48 object-cover" />
                        <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-60"></div>
                        <div class="absolute bottom-4 left-4 gap-3">
                            <div>
                                <p class="text-white font-bold  bg-darkpink w-fit px-2 text-xs md:text-base">
                                    Grossesse
                                </p>
                                <h1 class="text-white font-bold tracking-tighter text-xl ">
                                    La Grossesse : Un Voyage Extraordinaire
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-5 mx-10 gap-10">
        <div class="col-span-3">
            <app-article-tabs></app-article-tabs>
        </div>
        <div class="bg-red-600">

        </div>
    </div>
    
</div>