<div class="bg-lightpink">
  <div  class="pl-6 pt-6">
    <p class="font-bold text-5xl">Nos Ateliers</p>
    <p>
      Découvrez nos ateliers dédiés aux mamans et aux enfants, conçus pour apprendre, s'amuser et partager des moments inoubliables ensemble.
    </p>
  </div>
  <div class="flex justify-center py-16 px-2">
    <div class="flex md:w-11/12 md:justify-between md:gap-7 flex-col md:flex-row">
      <p-scrollTop styleClass="custom-scrolltop bg-teal"></p-scrollTop>
      <app-filter-atelier (filterChange)="onFilterChange($event)"></app-filter-atelier>
      <div class="mb-12 grid gap-y-4 gap-x-4 lg:grid-cols-2 md:w-11/12">
        <ng-container *ngFor="let atelier of filteredAteliers">
          <app-events-card [title]="atelier?.title" [date]="atelier?.date" [price]="atelier?.price" [desc]="atelier?.description" [photoURL]="atelier?.photoURL"
            (click)="navigateToDetails(atelier.id)">
          </app-events-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>