<div class="flex justify-center py-16">
    <div class="flex w-11/12 justify-between gap-7">
        <app-filter-atelier (filterChange)="onFilterChange($event)"></app-filter-atelier>
        <div class="mb-12 grid gap-y-4 gap-x-4 lg:grid-cols-2 w-11/12">
            <app-atelier-card></app-atelier-card>
            <app-atelier-card></app-atelier-card>
            <app-atelier-card></app-atelier-card>
            <app-atelier-card></app-atelier-card>
            <app-atelier-card></app-atelier-card>
            <app-atelier-card></app-atelier-card>
            <app-atelier-card></app-atelier-card>
            <app-atelier-card></app-atelier-card>
            <app-atelier-card></app-atelier-card>
        </div>
    </div>
</div>