<div class="flex justify-center py-16 px-2">
  <div class="flex md:w-11/12 md:justify-between md:gap-7 flex-col md:flex-row">
    <p-scrollTop styleClass="custom-scrolltop bg-teal"></p-scrollTop>
    <app-filter-atelier (filterChange)="onFilterChange($event)"></app-filter-atelier>
    <div class="mb-12 grid gap-y-4 gap-x-4 lg:grid-cols-2 md:w-11/12">
      <ng-container *ngFor="let atelier of filteredAteliers">
        <app-atelier-card [title]="atelier?.title" [date]="atelier?.date" [price]="atelier?.price"
          (click)="navigateToDetails(atelier.id)">
        </app-atelier-card>
      </ng-container>
    </div>
  </div>
</div>