<div class="p-4 grid md:grid-cols-6">

    <div class="md:col-span-4">
        <p-scrollTop styleClass="custom-scrolltop bg-teal"></p-scrollTop>

        <div class="flex flex-col md:m-5 lg:m-10 items-center">
            <div>
                <p class="text-sm font-bold tracking-tighter bg-teal w-fit px-2 text-white">
                    Préconception
                </p>
                <p class="text-7xl font-bold tracking-tighter">
                    L'importance de la Santé Mentale Avant la Grossesse
                </p>
                <p class="text-gray-400 tracking-tighter">
                    Par Admins, <span class="italic">19 Septembre 2024</span>
                </p>
            </div>
            <p class="tracking-tight font-bold text-xl text-gray-700">
                La période précédant la grossesse est une phase cruciale où la santé mentale de la future mère joue un
                rôle
                essentiel. Aborder cette étape avec une santé mentale optimale peut non seulement favoriser le bien-être
                maternel mais aussi influencer positivement le développement de l'enfant à naître. Dans cet article,
                nous
                explorerons trois aspects clés de l'importance de la santé mentale avant la grossesse.
            </p>
            <img src="assets\useful stuff\Studentinclassroom.jpeg" alt="" class="max-h-svh w-fit m-4">

            <hr class="w-full border-lightblue my-6">
            <!-- chapters houni -->
            <div class="chapter-container">
                <div class=" space-y-4 m-4">
                    <p class="text-5xl font-bold tracking-tighter ">
                        Préparation émotionnelle et psychologique
                    </p>
                    <img src="assets/useful stuff/Studentinclassroom.jpeg" alt="" class="max-w- rounded-lg">
                    <p class="text-xl tracking-tight text-justify indent-2 text-gray-700">
                        La préparation émotionnelle avant la grossesse est bien plus qu'une simple formalité. Elle
                        implique
                        de
                        se plonger profondément dans son état émotionnel actuel, de comprendre ses sentiments et de
                        travailler sur
                        la résolution des conflits internes. Ce chapitre explore les stratégies pour cultiver une santé
                        mentale
                        robuste, y compris la gestion du stress, la résilience émotionnelle et la construction de
                        relations
                        solides avec le partenaire et le réseau de soutien familial.La préparation émotionnelle avant la
                        grossesse est bien plus qu'une simple formalité. Elle implique
                        de
                        se plonger profondément dans son état émotionnel actuel, de comprendre ses sentiments et de
                        travailler sur
                        la résolution des conflits internes. Ce chapitre explore les stratégies pour cultiver une santé
                        mentale
                        robuste, y compris la gestion du stress, la résilience émotionnelle et la construction de
                        relations
                        solides avec le partenaire et le réseau de soutien familial.
                    </p>
                </div>
                <hr>
            </div>
            <div class="chapter-container">
                <div class=" space-y-4 m-4">
                    <p class="text-5xl font-bold tracking-tighter ">
                        Préparation émotionnelle et psychologique
                    </p>
                    <img src="assets/useful stuff/Studentinclassroom.jpeg" alt="" class="max-w- rounded-lg">
                    <p class="text-xl tracking-tight text-justify indent-2 text-gray-700">
                        La préparation émotionnelle avant la grossesse est bien plus qu'une simple formalité. Elle
                        implique
                        de
                        se plonger profondément dans son état émotionnel actuel, de comprendre ses sentiments et de
                        travailler sur
                        la résolution des conflits internes. Ce chapitre explore les stratégies pour cultiver une santé
                        mentale
                        robuste, y compris la gestion du stress, la résilience émotionnelle et la construction de
                        relations
                        solides avec le partenaire et le réseau de soutien familial.La préparation émotionnelle avant la
                        grossesse est bien plus qu'une simple formalité. Elle implique
                        de
                        se plonger profondément dans son état émotionnel actuel, de comprendre ses sentiments et de
                        travailler sur
                        la résolution des conflits internes. Ce chapitre explore les stratégies pour cultiver une santé
                        mentale
                        robuste, y compris la gestion du stress, la résilience émotionnelle et la construction de
                        relations
                        solides avec le partenaire et le réseau de soutien familial.
                    </p>
                </div>
                <hr>
            </div>
            <div class="chapter-container">
                <div class=" space-y-4 m-4">
                    <p class="text-5xl font-bold tracking-tighter ">
                        Préparation émotionnelle et psychologique
                    </p>
                    <img src="assets/useful stuff/Studentinclassroom.jpeg" alt="" class="max-w- rounded-lg">
                    <p class="text-xl tracking-tight text-justify indent-2 text-gray-700">
                        La préparation émotionnelle avant la grossesse est bien plus qu'une simple formalité. Elle
                        implique
                        de
                        se plonger profondément dans son état émotionnel actuel, de comprendre ses sentiments et de
                        travailler sur
                        la résolution des conflits internes. Ce chapitre explore les stratégies pour cultiver une santé
                        mentale
                        robuste, y compris la gestion du stress, la résilience émotionnelle et la construction de
                        relations
                        solides avec le partenaire et le réseau de soutien familial.La préparation émotionnelle avant la
                        grossesse est bien plus qu'une simple formalité. Elle implique
                        de
                        se plonger profondément dans son état émotionnel actuel, de comprendre ses sentiments et de
                        travailler sur
                        la résolution des conflits internes. Ce chapitre explore les stratégies pour cultiver une santé
                        mentale
                        robuste, y compris la gestion du stress, la résilience émotionnelle et la construction de
                        relations
                        solides avec le partenaire et le réseau de soutien familial.
                    </p>
                </div>
                <hr>
            </div>
        </div>

    </div>
    <div class="md:col-span-2 min-h-[100px] md:mt-10 lg:p-6 flex-col ">
        <div class="hidden md:block">
            <p class="text-4xl font-bold tracking-tighter text-darkpink">
                Articles à la une
            </p>
            <div
                class="p-3 gap-x-4 bg-white border-2 hover:border-teal border-lightblue transition-colors duration-200 rounded-xl shadow">
                <ng-container *ngFor="let article of latestArticle | slice: 0 : 3" class="mb-3">
                    <app-forum-aricle-card [title]="article?.title"
                        [desc]="article?.description"></app-forum-aricle-card>
                </ng-container>
            </div>
        </div>

        <!-- Reaction part -->
        <div class=" sticky-container">
            <div
                class="border-2 hover:border-teal border-lightblue transition-colors duration-200 rounded-xl shadow md:mt-10 p-3 text-gray-600 bg-white">
                <div class="flex justify-evenly">
                    <div class="flex flex-col items-center hover:text-blue-600 transition-colors duration-200">
                        <i class="fa-solid fa-lg lg:fa-xl my-3 fa-thumbs-up"></i>
                        <p>Like</p>
                    </div>
                    <div class="flex flex-col items-center hover:text-red-600 transition-colors duration-200">
                        <i class="fa-solid fa-lg lg:fa-xl my-3 fa-face-grin-hearts"></i>
                        <p>Love</p>
                    </div>
                    <div class="flex flex-col items-center hover:text-yellow-300 transition-colors duration-200">
                        <i class="fa-solid fa-lg lg:fa-xl my-3 fa-face-laugh-squint"></i>
                        <p>Haha</p>
                    </div>
                    <div class="flex flex-col items-center hover:text-darkpink transition-colors duration-200">
                        <i class="fa-solid fa-lg lg:fa-xl my-3 fa-face-surprise"></i>
                        <p>Wow</p>
                    </div>
                    <div class="flex flex-col items-center hover:text-violet-600 transition-colors duration-200">
                        <i class="fa-solid fa-lg lg:fa-xl my-3 fa-face-sad-cry"></i>
                        <p>Sad</p>
                    </div>
                </div>
            </div>

            <!-- sharing on facebook -->
            <div (click)="shareOnFacebook()"
                class="bg-white border-2 hover:border-teal border-lightblue transition-colors duration-200 rounded-xl shadow mt-5 md:mt-10 p-3 text-sm lg:text-xl font-bold tracking-tighter flex items-center justify-evenly">
                <i class="fa-brands fa-square-facebook"></i> Partager cet article sur Facebook <i
                    class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
        <div class="block md:hidden mt-3">
            <hr class="border-lightblue">
            <p class="text-4xl font-bold tracking-tighter text-darkpink">
                Continuer à lire
            </p>
            <div
                class="p-3 gap-x-4 bg-white border-2 hover:border-teal border-lightblue transition-colors duration-200 rounded-xl shadow">
                <ng-container *ngFor="let article of latestArticle | slice: 0 : 3" class="mb-3">
                    <app-forum-aricle-card [title]="article?.title"
                        [desc]="article?.description"></app-forum-aricle-card>
                </ng-container>
            </div>
        </div>
    </div>
</div>