<div class="container mx-auto px-4 py-8">
    <div class="bg-white ">
        <h1 class="text-4xl font-bold mb-6 text-darkpink">Conditions de Confidentialité</h1>

        <p class="mb-6">Bienvenue sur notre site MAMIZ. Votre vie privée est importante pour nous. Cette politique de confidentialité explique quelles informations nous collectons, comment nous les utilisons et les protégeons, ainsi que vos droits en matière de confidentialité.</p>

        <div class="mb-6">
            <h2 class="text-3xl font-semibold mb-4 text-teal">Collecte des Informations</h2>
            <h3 class="text-xl font-semibold mb-2">1. Informations Personnelles</h3>
            <p class="mb-4">Nous collectons des informations personnelles que vous nous fournissez directement lorsque vous vous inscrivez sur notre site, participez à des forums, remplissez des formulaires ou interagissez avec nos services. Ces informations peuvent inclure :</p>
            <ul class="list-disc ml-6 mb-4">
                <li>Nom et prénom</li>
                <li>Adresse email</li>
                <li>Adresse postale</li>
                <li>Numéro de téléphone</li>
                <li>Informations médicales pertinentes (avec votre consentement)</li>
            </ul>

            <h3 class="text-xl font-semibold mb-2">2. Informations Automatiques</h3>
            <p class="mb-4">Nous collectons également des informations automatiquement lorsque vous utilisez notre site, telles que :</p>
            <ul class="list-disc ml-6 mb-4">
                <li>Adresse IP</li>
                <li>Type de navigateur et appareil</li>
                <li>Pages visitées et temps passé sur notre site</li>
                <li>Données de cookies et technologies similaires</li>
            </ul>
        </div>

        <div class="mb-6">
            <h2 class="text-3xl font-semibold mb-4 text-teal">Utilisation des Informations</h2>
            <h3 class="text-xl font-semibold mb-2">1. Fourniture des Services</h3>
            <p class="mb-4">Nous utilisons vos informations pour fournir, personnaliser et améliorer nos services, y compris :</p>
            <ul class="list-disc ml-6 mb-4">
                <li>Création et gestion de votre compte</li>
                <li>Réponses à vos questions et demandes</li>
                <li>Envoi de newsletters et de communications promotionnelles (avec votre consentement)</li>
                <li>Participation à des forums et groupes de discussion</li>
            </ul>

            <h3 class="text-xl font-semibold mb-2">2. Amélioration de nos Services</h3>
            <p class="mb-4">Nous analysons les données collectées pour comprendre comment notre site est utilisé et pour améliorer nos services. Cela inclut :</p>
            <ul class="list-disc ml-6 mb-4">
                <li>Analyse des tendances et des comportements des utilisateurs</li>
                <li>Développement de nouvelles fonctionnalités et services</li>
                <li>Amélioration de l'expérience utilisateur</li>
            </ul>

            <h3 class="text-xl font-semibold mb-2">3. Sécurité</h3>
            <p>Nous utilisons vos informations pour renforcer la sécurité de notre site et protéger vos données personnelles contre tout accès non autorisé, divulgation ou destruction.</p>
        </div>

        <div class="mb-6">
            <h2 class="text-3xl font-semibold mb-4 text-teal">Partage des Informations</h2>
            <h3 class="text-xl font-semibold mb-2">1. Partage avec des Tiers</h3>
            <p class="mb-4">Nous ne vendons pas vos informations personnelles à des tiers. Nous pouvons partager vos informations avec des tiers de confiance pour les raisons suivantes :</p>
            <ul class="list-disc ml-6 mb-4">
                <li>Fournisseurs de services : Pour aider à fournir nos services, comme l'hébergement de notre site, l'envoi de newsletters, et le traitement des paiements.</li>
                <li>Obligations légales : Pour se conformer à la loi, à une procédure judiciaire ou à une demande gouvernementale.</li>
                <li>Protection des droits : Pour protéger nos droits, notre propriété ou notre sécurité, ainsi que ceux de nos utilisateurs ou du public.</li>
            </ul>

            <h3 class="text-xl font-semibold mb-2">2. Partage avec des Partenaires</h3>
            <p>Avec votre consentement, nous pouvons partager des informations anonymisées avec nos partenaires pour des analyses, recherches et marketing.</p>
        </div>

        <div class="mb-6">
            <h2 class="text-3xl font-semibold mb-4 text-teal">Vos Droits</h2>
            <h3 class="text-xl font-semibold mb-2">1. Accès et Rectification</h3>
            <p class="mb-4">Vous avez le droit d'accéder à vos informations personnelles et de demander leur rectification si elles sont incorrectes ou incomplètes.</p>

            <h3 class="text-xl font-semibold mb-2">2. Suppression et Opposition</h3>
            <p class="mb-4">Vous pouvez demander la suppression de vos informations personnelles ou vous opposer à leur traitement dans certaines circonstances.</p>

            <h3 class="text-xl font-semibold mb-2">3. Retrait du Consentement</h3>
            <p class="mb-4">Vous pouvez retirer votre consentement à tout moment pour le traitement de vos données personnelles. Cela n'affectera pas la légalité du traitement basé sur le consentement avant son retrait.</p>

            <h3 class="text-xl font-semibold mb-2">4. Portabilité des Données</h3>
            <p>Vous avez le droit de demander une copie de vos informations personnelles dans un format structuré, couramment utilisé et lisible par machine.</p>
            <p class="mb-4">Pour exercer vos droits, veuillez nous contacter à privacy@votresite.com.</p>
        </div>

        <div class="mb-6">
            <h2 class="text-3xl font-semibold mb-4 text-teal">Sécurité des Informations</h2>
            <p>Nous mettons en œuvre des mesures de sécurité techniques et organisationnelles appropriées pour protéger vos informations personnelles contre tout accès, divulgation, altération ou destruction non autorisé. Cependant, aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée, et nous ne pouvons garantir une sécurité absolue.</p>
        </div>

        <div class="mb-6">
            <h2 class="text-3xl font-semibold mb-4 text-teal">Modifications de cette Politique de Confidentialité</h2>
            <p>Nous pouvons mettre à jour cette politique de confidentialité de temps en temps pour refléter les changements apportés à nos pratiques ou aux lois applicables. Nous vous informerons de toute modification en publiant la nouvelle politique de confidentialité sur notre site et en mettant à jour la date de révision.</p>
        </div>

        <div class="mb-6">
            <h2 class="text-2xl font-semibold mb-4 text-teal">Contactez-Nous</h2>
            <p>Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité ou notre traitement de vos informations personnelles, veuillez nous contacter.</p>
        </div>

        <p>Merci d'utiliser notre site ! Nous nous engageons à protéger votre vie privée et à vous offrir une expérience sécurisée et enrichissante.</p>
    </div>
</div>