<div class="bg-lightpink">
    <div class="pl-6 pt-6">
        <p class="font-bold text-5xl">Les Evenements</p>
        <p>
            Explorez l'agenda de tous les événements culturels, loisirs et sorties, pour ne rien manquer des activités et
            spectacles près de chez vous.
        </p>
    </div>
    <div class="flex justify-center py-16 px-2">
        <div class="flex md:w-11/12 md:justify-between md:gap-7 flex-col md:flex-row">
            <p-scrollTop styleClass="custom-scrolltop bg-teal"></p-scrollTop>
            <app-filter-event (filterChange)="onFilterChange($event)"></app-filter-event>
            <div class="mb-12 grid gap-y-4 gap-x-4 lg:grid-cols-2 md:w-11/12">
                <ng-container *ngFor="let event of filteredEvents">
                    <app-events-card [id]="event?.id" [title]="event?.title" [desc]="event?.description"
                        [date]="event?.date" (click)="navigateToDetails(event.id)"></app-events-card>
                </ng-container>
            </div>
        </div>
    </div>
</div>