<div class="mb-8">
  <figure class="relative max-w-sm">
    <div class="imgCont">
      <a href="#">
        <img
          class="rounded-md h-auto md:max-w-2xl transition-all duration-300 cursor-pointer"
          src="assets\useful stuff\Studentinclassroom.jpeg"
          alt="image description"
        />
      </a>
    </div>
    <figcaption class="absolute px-4 text-lg text-white bottom-6 font-bold">
      <div class="bg-lightblue text-black h-auto w-fit px-2 mb-2">
        <p>Theme</p>
      </div>
      <p class="title">
        Do you want to get notified when a new component is added to Flowbite?
      </p>
    </figcaption>
  </figure>
</div>
