<div class="grid place-items-center ">
    <div class="">
        <div class="max-w-xl">
            <form [formGroup]="question" (ngSubmit)="onSubmit()">
                <div class="p-5 space-y-4">
                    <div class="border border-teal rounded-lg">
                        <label htmlFor="qst" class="text-teal">Categorie:</label>
                        <p-autoComplete formControlName="theme"  [dropdown]="true" [suggestions]="filteredSpecialties" 
                            (completeMethod)="filterSpecialty($event)" field="name" placeholder="Pédiatre"
                            class="transition-colors duration-100 text-teal border-teal border bg-white hover:bg-teal hover:text-white focus:ring-4 focus:outline-none focus:ring-lightblue font-medium rounded-lg text-sm px-4 py-2.5 w-full text-center inline-flex items-center">
                        </p-autoComplete>
                    </div>
                
                    <div class="mt-3">
                        <label htmlFor="qst" class="text-teal">Taper votre Question:</label>
                        <input id="qst" formControlName="qst" [ngClass]="{'border-red-500': question.get('qst')?.invalid && question.get('qst')?.touched}"
                            class="bg-gray-50 border border-teal text-gray-900 text-sm rounded-lg focus:ring-lightblue focus:border-lightblue block w-full p-2.5" />
                    </div>
                
                    <textarea id="message" rows="4" formControlName="detail" [ngClass]="{'border-red-500': question.get('detail')?.invalid && question.get('detail')?.touched}"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-teal focus:ring-lightblue focus:border-lightblue"
                        placeholder="Pour que la réponse soit la plus pertinente possible, veuillez fournir un maximum d'informations."></textarea>
                    <hr class="border-lightblue">
                
                    <p class="text-pink">
                        <i class="fa-solid fa-triangle-exclamation"></i> Ces informations au dessous seront affiché juste pour les médecins.
                    </p>
                    <p class="text-pink">
                        <i class="fa-solid fa-triangle-exclamation"></i> Ces champs ne sont pas requis
                    </p>
                    <div class="flex gap-4">
                        <div class="flex">
                            <label htmlFor="taille" class="text-teal">Taille (cm)</label>
                            <input id="taille" formControlName="taille" type="number" class="bg-gray-50 border border-teal text-gray-900 text-sm rounded-lg focus:ring-lightblue focus:border-lightblue block w-full p-2.5" />
                        </div>
                        <div class="flex">
                            <label htmlFor="poids" class="text-teal">Poids (kg)</label>
                            <input id="poids" formControlName="poids" type="number" class="bg-gray-50 border border-teal text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                        </div>
                    </div>
                    <div>
                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" formControlName="traitement" class="sr-only peer" (change)="toggleCheckbox()">
                            <div class="relative w-11 h-6 bg-lightblue peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-lightpink rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-lightblue peer-checked:after:bg-lightblue after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-teal after:border-teal after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-teal"></div>
                            <span class="ms-3 text-sm font-medium text-teal">Traitemnet ou medicament en cours</span>
                        </label>
                        <textarea *ngIf="isChecked" formControlName="deatilTrait" id="message" rows="4"
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-teal focus:ring-lightblue focus:border-lightblue"
                            placeholder="Decrivez le traitement ou le medicament"></textarea>
                    </div>
                    <hr class="border-lightblue">
                </div>

                <div class="fex flex-col items-center text-center">
                    <p>
                        <i class="fa-solid fa-triangle-exclamation"></i> En cliquant sur ce bouton, vous acceptez <a href="" class="font-bold hover:underline">les conditions générales</a> et la <a href="#" class="font-bold hover:underline">politique de confidentialité</a>.
                    </p>
                    <button type="submit" class="btn hover:bg-darkpink border-2 rounded-xl px-3 py-1 mt-3 transition-colors duration-200 border-darkpink font-bold hover:shadow-lg" [disabled]="!question.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
