<div class="grid place-items-center ">
    <div class="">
        <div class="max-w-xl">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <app-ask-question-step1 [formGroup]="stepOne"></app-ask-question-step1>

                <div class="fex flex-col items-center text-center">
                    <p>
                        <i class="fa-solid fa-triangle-exclamation"></i> En cliquant sur ce bouton, vous acceptez <a href="" class="font-bold hover:underline">les conditions générales</a> et la <a
                            href="#" class="font-bold hover:underline">politique de confidentialité</a>.
                    </p>
                    <button type="submit" class="btn hover:bg-darkpink border-2 rounded-xl px-3 py-1 mt-3 transition-colors duration-200 border-darkpink font-bold hover:shadow-lg" [disabled]="!form.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>