<form class="max-w-md mx-auto">
    <div class="flex">
        <label for="location-search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Your Email</label>
        <button id="dropdown-button-2" data-dropdown-toggle="dropdown-search-city"
            class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-cyan-100 focus:ring-2 focus:outline-none focus:ring-lightblue "
            type="button">
            Spec. <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div id="dropdown-search-city"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
            <ul class="py-2 text-sm text-gray-700"
                aria-labelledby="dropdown-button-2">
                <li>
                    <button type="button"
                        class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 "
                        role="menuitem">
                        <div class="inline-flex items-center">
                            Cardiologie 
                        </div>
                    </button>
                </li>
                <li>
                    <button type="button"
                        class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 "
                        role="menuitem">
                        <div class="inline-flex items-center">
                            Neurologie 
                        </div>
                    </button>
                </li>
                <li>
                    <button type="button"
                        class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 "
                        role="menuitem">
                        <div class="inline-flex items-center">
                            Dermatologie 
                        </div>
                    </button>
                </li>
                <li>
                    <button type="button"
                        class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 "
                        role="menuitem">
                        <div class="inline-flex items-center">
                            Pédiatrie 
                        </div>
                    </button>
                </li>
            </ul>
        </div>
        <div class="relative w-full">
            <input type="search" id="location-search"
                class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-lightblue focus:border-lightblue "
                placeholder="Ecrivez un mot clé" required />
            <button type="submit"
                class="absolute top-0 end-0 h-full p-2.5 text-sm font-medium text-white bg-pink rounded-e-lg border border-gray-300 hover:bg-darkpink focus:ring-4 focus:outline-none focus:ring-lightblue ">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
</form>