<div
    class="max-w-xs md:max-w-full p-6 text-center bg-white border-2 hover:border-teal border-lightblue transition-colors duration-200 rounded-xl shadow mb-4">
    <p class="text-3xl font-bold tracking-tighter text-darkpink">
        Avez vous des inquiétudes?
    </p>
    <p class="mt-3">Un groupe de médecins spécialisés répondra à vos demandes</p>
    <div class="card flex justify-center">
        <p-button (click)="showDialog()"
            class="hover:bg-lightblue border-2 rounded-xl px-3 py-1 mt-3 transition-colors duration-200 border-lightblue font-bold hover:shadow-lg"
            label="Poser votre question" />
        <p-dialog header="Ecrivez vos inquietudes" [(visible)]="visible" [modal]="true" [style]="{ 'width': 'auto','border-radius': '1rem' }" >
            <app-ask-question></app-ask-question>
        </p-dialog>
    </div>
</div>
<app-list-medcin></app-list-medcin>