 <div class="flex flex-col items-center justify-center">
        <span class="text-center font-bold text-5xl md:text-8xl mb-8 tracking-tighter">Nos Reseaux sociaux</span>

        <div class="flex justify-center md:w-auto">
            <!-- Instagram -->
            <div class="flex flex-col items-center mr-12">
                <a href="https://www.instagram.com/mamiz.tn?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img
                        src="assets\useful stuff\instagram.png" alt="" class="max-h-40 mb-4"></a>
                <span class="font-bold text-darkpink text-5xl mb-2">63K</span>
                <span class="font-bold text-darkpink text-3xl">followers</span>
            </div>

            <!-- Facebook -->
            <div class="flex flex-col items-center mx-12">
                <img src="assets\useful stuff\facebook.png" alt="" class="max-h-40 mb-4">
                <span class="font-bold text-darkpink text-5xl mb-2">63K</span>
                <span class="font-bold text-darkpink text-3xl">followers</span>
            </div>

            <!-- TikTok -->
            <div class="flex flex-col items-center ml-12">
                <img src="assets\useful stuff\tiktok.png" alt="" class="max-h-40 mb-4">
                <span class="font-bold text-darkpink text-5xl mb-2">63K</span>
                <span class="font-bold text-darkpink text-3xl">followers</span>
            </div>
        </div>
    </div>