
<form class="flex items-center max-w-sm mx-auto">   
    <label for="simple-search" class="sr-only">Search</label>
    <div class="relative w-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input type="text" id="simple-search" class=" text-gray-900 bg-gray-50  border-s-gray-50 border-s-2 border  text-sm rounded-lg block w-full ps-10 p-2.5 " placeholder="ecrivez un mot clé" required />
    </div>
</form>
