<section class="py-8 bgGRDT px-3">
  <h2 class="text-7xl font-bold mb-4 text-center tracking-tighter" style="font-family: 'helBold';">Ateliers à Venir</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4" >
    <ng-container  *ngFor="let atelier of ateliers | slice:0:4">
          <app-atelier-card [title]="atelier?.title" [description]="atelier?.description" [date]="atelier?.date" [price]="atelier?.price"  (click)="navigateToDetails(atelier.id)"></app-atelier-card>
    </ng-container>

  </div>
  <div class="text-center mt-6 c1">
  <a
  routerLink="/home/atelier"
  class="inline-flex rounded-full bg-darkpink items-center py-3 px-6 text-4xl font-bold text-center border-teal border text-white focus:ring-4 focus:outline-none focus:ring-blue-300 gap-2 cursor-pointer transform transition duration-500 hover:scale-110"
>
  Voir tout
  <i class="fa-solid fa-chevron-right"></i>
</a>
</div>

</section>
