<div class="bg-white shadow-lg p-4 rounded-xl w-auto max-w-2xl c1 cursor-pointer">
  <div class="flex justify-between items-center space-x-4">
    <div class="text-center flex-shrink-0">
      <p
        class="text-xl md:text-4xl tracking-tighter font-semibold"
        style="font-family: helBold"
      >
        10
      </p>
      <p class="text-sm md:text-4xl">Apr, 2023</p>
    </div>
    <div class="flex items-center">
      <div class="h-16 w-px bg-lightblue"></div>
    </div>

    <div class="flex-grow overflow-hidden">
      <h3 class="md:text-3xl font-semibold truncate" style="font-family: helBold">
        Lorem ipsum dolor sit amet
      </h3>
      <p class="mt-2 truncate">
        Lorem ipsum dolor sit amet, consectetur adipiscing
        elitzefggzfezfrezfefzeffezezvf.
      </p>
    </div>

    <div class="flex-shrink-0">
      <a
        href="/events/1"
        class="border-lightblue border-2 text-xs md:text-xl hover:bg-lightblue rounded-full px-4 py-2 text-black whitespace-nowrap c2"
        >Details <i class="fa-solid fa-arrow-right"></i
      ></a>
    </div>
  </div>
</div>
