<div class="  gap-4 min-h-[100px] flex-col ">
    <div class="max-w-xs md:max-w-full  mb-4">
        <div>
            <div class="bg-teal h-auto w-fit px-2 mb-2 text-sm md:text-base font-bold text-white">
                <p>
                    {{post?.theme}}
                </p>
            </div>
            <a href="#">
                <h5 class="mb-2 md:text-2xl tracking-tighter text-gray-900 line-clamp-2" style="font-family: helBold;">
                    {{post?.title}}
                </h5>
            </a>
            <p class=" font-normal text-sm md:text-base text-black">
                {{post?.question}} 
            </p>
            <hr >
            <!-- KEN LL TBIB SO *NGIF LL USER  -->
            <ul *ngIf="isMedcin" class="font-bold mt-2">
                <li>CES INFORMATIONS SONT CONFIDETIELLES dhaharly</li>
                <li>Traitement : <i *ngIf="traitement" class="fa-solid fa-check"></i> <i *ngIf="!traitement" class="fa-solid fa-xmark"></i></li>
                <li *ngIf="traitement">Detail Traitement:<span class="font-normal">{{post?.detailTrait}}</span></li>
                <li>Taille: <span class="font-normal">{{post?.taille}}</span></li>
                <li>Poids: <span class="font-normal">{{post?.poid}}</span></li>
            </ul>
        </div>
        <hr class="my-2 border-lightblue sm:mx-auto" />
        <div class="grid ">
            <div class="col-span-2">
                <div class="flex items-center gap-4">
                    <img class="w-10 h-10 rounded-full" src="assets\useful stuff\user.png" alt="">
                    <div class="font-medium ">
                        <div class="font-bold text-teal text-sm md:text-base">
                            {{medcinName}}  
                            <i class="fa-solid fa-user-doctor"></i>
                        </div>
                        <div class="text-xs md:text-base text-gray-500 ">
                            {{medcinSpecialite}}
                        </div>
                    </div>
                </div>
                <div class="border-2 p-2 mt-2 border-lightblue rounded-xl">
                    <p class="text-gray-400 text-sm font-thin tracking-tighter italic" >
                        Rependu à {{rsDate | date : " hh:mm le dd MMMM YYYY "}}
                    </p>
                    {{content}}
                </div>
            </div>
        </div>
    </div>
</div>