<div class=" flex"> 
    
    <div class="relative w-fit h-fit">
        <input type="search" id="simple-search"
            class="block p-2.5 w-full z-20 text-sm text-gray-900 rounded-lg min-w-72 bg-gray-50 rborder border-gray-300 focus:ring-lightblue focus:border-lightblue "
            placeholder="Ecrivez un mot clé" required />
        <button type="submit"
            class="absolute top-0 end-0 h-full p-2.5 text-sm font-medium text-white bg-pink rounded-e-lg border border-gray-300 hover:bg-darkpink focus:ring-4 focus:outline-none focus:ring-lightblue ">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</div>