<section class="py-8 bgGRDT">
  <h2 class="text-7xl font-bold mb-4 text-center tracking-tighter" style="font-family: 'helBold';">Ateliers à Venir</h2>
  <div class="flex justify-center md:space-x-4 flex-col gap-4 md:flex-row ">
    <div class="bg-gray-100 shadow-lg p-4 rounded-lg flex flex-row gap-3 h-40 c1">
      <img
        src="../../../../assets/useful stuff/Studentinclassroom.jpeg"
        alt="Atelier Image"
        class="w-full h-32 object-cover rounded-lg"
      />
      <div>
        <h3 class="md:text-xl font-semibold md:mt-2">
          Effective Classroom Management Techniques
        </h3>
        <hr class="broder-0 h-0.5 bg-lightblue">
        <div class="flex flex-col gap-1">
          <p class="mt-2">Date: 10 Apr, 2023</p>
          <p>Price: $45.00</p>
        </div>
      </div>
    </div>
    <div class="bg-gray-100 shadow-lg p-4 rounded-lg flex flex-row gap-3 h-40 c1">
      <img
        src="../../../../assets/useful stuff/Studentinclassroom.jpeg"
        alt="Atelier Image"
        class="w-full h-32 object-cover rounded-lg"
      />
      <div>
        <h3 class="md:text-xl font-semibold md:mt-2">
          Effective Classroom Management Techniques
        </h3>
        <hr class="broder-0 h-0.5 bg-lightblue">
        <div class="flex flex-col gap-1">
          <p class="mt-2">Date: 10 Apr, 2023</p>
          <p>Price: $45.00</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center md:space-x-4 flex-col gap-4 md:flex-row  mt-4">
    <div class="bg-gray-100 shadow-lg p-4 rounded-lg flex flex-row gap-3 h-40 c1">
      <img
        src="../../../../assets/useful stuff/Studentinclassroom.jpeg"
        alt="Atelier Image"
        class="w-full h-32 object-cover rounded-lg"
      />
      <div>
        <h3 class="md:text-xl font-semibold md:mt-2">
          Effective Classroom Management Techniques
        </h3>
        <hr class="broder-0 h-0.5 bg-lightblue">
        <div class="flex flex-col gap-1">
          <p class="mt-2">Date: 10 Apr, 2023</p>
          <p>Price: $45.00</p>
        </div>
      </div>
    </div>
    <div class="bg-gray-100 shadow-lg p-4 rounded-lg flex flex-row gap-3 h-40 c1">
      <img
        src="../../../../assets/useful stuff/Studentinclassroom.jpeg"
        alt="Atelier Image"
        class="w-full h-32 object-cover rounded-lg"
      />
      <div>
        <h3 class="md:text-xl font-semibold md:mt-2">
          Effective Classroom Management Techniques
        </h3>
        <hr class="broder-0 h-0.5 bg-lightblue">
        <div class="flex flex-col gap-1">
          <p class="mt-2">Date: 10 Apr, 2023</p>
          <p>Price: $45.00</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-6 c1">
    <a href="/ateliers" class="bg-darkpink rounded-full text-white py-2 px-4 tracking-tight text-3xl font-bold" 
      >View more
      <i class="fa-solid fa-chevron-right"></i></a
    >
  </div>
</section>
