<div class="md:p-10 p-5 space-y-2 ">
    <div class="flex items-center justify-center mb-10"><img src="assets\logos\logo full.png" alt="" class="lg:h-60"></div>
    <p class="text-xl font-medium tracking-tight">
        Bienvenue sur Mamiz, votre ressource en ligne dédiée au bien-être, à la santé et au bonheur des mamans et des
        futures mamans. Notre mission est d'accompagner chaque étape de votre voyage maternel avec des informations
        pratiques, des conseils bienveillants et une communauté de soutien chaleureuse. <br> Voici ce que nous représentons :
    </p>
    <hr class="my-2">
    <ul class="tracking-tight indent-2 ">
        <li class="my-8 ">
            <span class="text-4xl font-bold  text-teal ">
                Notre Engagement envers les Mamans
            </span>
            <br>
            Chez Mamiz, nous comprenons que la maternité est l'une des expériences les plus enrichissantes mais aussi
            les plus exigeantes de la vie. C'est pourquoi nous nous engageons à vous fournir les ressources nécessaires
            pour vous aider à naviguer avec confiance à travers chaque phase, que vous soyez une nouvelle maman, une
            maman enceinte ou une maman expérimentée.
        </li>
        <li class="my-8 ">
            <span class="text-4xl font-bold  text-teal ">
                Ce que Nous Offrons
            </span>
            <br>
            <p>
                <span class="font-bold">Informations Expertes:</span>
                Nos articles sont rédigés par des professionnels de la santé, des spécialistes en
                maternité et des mamans expérimentées, couvrant une gamme de sujets allant de la nutrition prénatale à
                la
                parentalité positive.
            </p>
            <p>
                <span class="font-bold">Soutien Communautaire:</span>
                Rejoignez notre communauté vibrante de mamans bienveillantes. Échangez des conseils,
                partagez des expériences et trouvez du soutien dans notre forum et sur nos réseaux sociaux.
            </p>
            <p>
                <span class="font-bold">Ressources Pratiques:</span>
                Participer à nos Ateliers , événements soigneusement sélectionnés pour vous simplifier
                la vie de maman
            </p>
        </li>
        <li class="my-8 ">
            <span class="text-4xl font-bold  text-teal ">
                Notre Engagement envers la Qualité
            </span>
            <br>
            Nous nous engageons à fournir des informations précises, vérifiées et basées sur des preuves scientifiques.
            Chaque article et chaque conseil sont soigneusement examinés pour vous offrir la meilleure qualité possible.
        </li>
        <li class="my-8 ">
            <span class="text-4xl font-bold  text-teal ">
                Notre Équipe
            </span>
            <br>
            Notre équipe est composée de passionnés de la maternité et de professionnels dédiés à améliorer
            continuellement votre expérience sur Mamiz. Nous sommes là pour répondre à vos questions, écouter vos
            suggestions et vous accompagner dans votre parcours de parentalité.
        </li>
        <li class="my-8 ">
            <span class="text-4xl font-bold  text-teal ">
                Contactez-Nous
            </span>
            <br>
            <p>

                Nous sommes impatients de faire partie de votre voyage maternel. Pour toute question, commentaire ou
                suggestion, n'hésitez pas à nous contacter ou à nous suivre sur nos réseaux sociaux pour rester
                connectée à
                notre communauté grandissante de mamans.
            </p>
        </li>
    </ul>
     <hr>
    <p class="md:text-2xl font-medium tracking-tighter text-center">
        Merci d'avoir choisi Mamiz comme votre ressource de confiance pour la maternité et au-delà. Nous sommes
        là
        pour vous, à chaque étape de votre chemin vers la parentalité.
    </p>    
    <p class="md:text-2xl font-medium tracking-tighter text-center">
        Rejoignez-nous aujourd'hui et laissez-nous vous accompagner dans l'aventure merveilleuse de la
        maternité! <br>
        <i class="fa-solid fa-heart"></i>
    </p>
</div>