<div class="bg-gray-100 shadow-lg p-4 rounded-lg flex flex-col md:flex-row gap-3 h-auto md:h-40 c1 cursor-pointer">
  <img
    src="../../../../assets/useful stuff/Studentinclassroom.jpeg"
    alt="Atelier Image"
    class="w-full md:w-32 h-32 object-cover rounded-lg"
  />
  <div class="flex flex-col justify-between">
    <h3 class="text-lg md:text-xl font-semibold mt-2 md:mt-0">
      {{title}}
    </h3>
    <hr class="broder-0 h-0.5 bg-lightblue" />
    <div class="flex flex-row items-center gap-2 md:text-base mt-2 text-xs">
      <p>{{date | date:'d MMM, y' }}</p>
      <p class="text-lightblue font-bold">|</p>
      <p>Price: {{price | currency:'TND':'symbol':'1.2-2'}}</p>
    </div>
  </div>
</div>
