<div class="bg-gray-100 shadow-lg p-4 rounded-lg flex flex-row gap-3 h-40 c1">
  <img
    src="../../../../assets/useful stuff/Studentinclassroom.jpeg"
    alt="Atelier Image"
    class="w-full h-32 object-cover rounded-lg"
  />
  <div>
    <h3 class="text-sm md:text-xl font-semibold md:mt-2">
      Effective Classroom Management Techniques
    </h3>
    <hr class="broder-0 h-0.5 bg-lightblue" />
    <div class="flex flex-row items-center gap-2 md:text-base mt-2 text-xs">
      <p>10 Apr, 2023</p>
      <p class="text-lightblue font-bold">|</p>
      <p>Price: $45.00</p>
    </div>
  </div>
</div>
