<div class="bg-lightblue w-fit p-3 m-3 rounded-xl gap-4">
    <div class="flex gap-x-3">
        <img src="{{profilePic}}" alt="" class="h-20 ">
        <div>
            <p class="font-bold text-3xl ">
                Dr. {{nom}} {{prenom}}
            </p>
            <div class="bg-teal text-white font-bold tracking-tight text-xl h-auto w-fit px-2 mb-2">
                <p>{{specialite}}</p>
            </div>
        </div>
    </div>
    <div class="flex justify-evenly mt-3">
        <div>
            <p> <i class="fa-solid fa-phone"></i> {{numero}}</p>
        </div>
        <div class="flex justify-end">
            <p> <i class="fa-solid fa-location-dot"></i> Adresse : {{adresse}} </p>
        </div>
    </div>
</div>