.active-link {
    color: white;
    background-color: pink;
    border-radius: 5px; /* adjust as needed */
    padding: 10px; /* adjust as needed */
    transition: color 0.3s ease, background-color 0.3s ease, width 0.3s ease, padding 0.3s ease;
}