<span class="text-7xl tracking-tighter m-" style="font-family: 'helBold';"> Deniers Articles </span>
<div
  class="flex flex-col md:flex-row items-center justify-center px-4 gap-x-80 my-10"
>
  <app-article-big-card [theme]="latestArticle?.theme" [title]="latestArticle?.title" [pic]="latestArticle?.mainPic"></app-article-big-card>
  <div class="max-w-2xl">
    <ul class="flex flex-col gap-8">
      <ng-container *ngFor="let article of articles | slice:0:3">
        <app-article-small-card [theme]="article?.theme" [title]="article?.title" [pic]="article?.mainPic"></app-article-small-card>
      </ng-container>
    </ul>
  </div>
</div>
