<span class="text-7xl tracking-tighter m-" style="font-family: 'helBold';"> Deniers Articles </span>
<div
  class="flex flex-col md:flex-row items-center justify-center px-4 gap-x-80 my-10"
>
  <app-article-big-card></app-article-big-card>
  <div class="max-w-2xl">
    <ul class="flex flex-col items-center gap-8">
      <!-- Item 1 -->
      <app-article-small-card></app-article-small-card>
      <!-- Item 2 -->
       <app-article-small-card></app-article-small-card>
      <!-- Item 3 -->
      <app-article-small-card></app-article-small-card>
    </ul>
  </div>
</div>
