<footer class="bg-darkpink py-8">
  <div class="container mx-auto text-center">
    <img src="../../../../assets/logos/logo full white.png" alt="Mamiz Logo" class="h-52 mx-auto mb-4">
    <p class="text-white text-xl ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</p>
      <p class="text-white text-xl tracking-tighter" style="font-family: 'helBold';">Abonnez Vous !</p>
    <div class="flex justify-center space-x-4 mt-4">
      <a href="https://www.instagram.com/mamiz.tn?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="hover:text-pink-500">
        <i class="fa-brands fa-instagram fa-2xl"></i>
      </a>
      <a href="https://www.facebook.com/mamiztn/" class="hover:text-pink-500">
        <i class="fa-brands fa-facebook fa-2xl"></i>
      </a>
      <a href="https://www.tiktok.com/@mamiztn?lang=en" class="hover:text-pink-500">
        <i class="fa-brands fa-tiktok fa-2xl"></i>
      </a>
    </div>
    
  </div>
  <div class="mt-4">
      <p>&copy; 2024 Mamiz. All rights reserved.</p>
      <div class="flex justify-center space-x-4 mt-2">
        <a href="/privacy-policy" class="hover:text-pink-500">Privacy Policy</a>
        <a href="/terms-conditions" class="hover:text-pink-500">Terms & Conditions</a>
      </div>
    </div>
    <div>

    </div>
</footer>