<footer class="bg-darkpink">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="#" class="flex items-center">
          <img src="assets/logos/logo full white.png" class="h-24 me-3" alt="FlowBite Logo" />
        </a>
        <p class="text-xl text-white my-4" style="font-family: cairo;">
          على خاطر نحبوك قوية
        </p>
        <p class="max-w-screen-sm tracking-tighter text-white text-base ">
          Bienvenue sur Mamiz, votre ressource en ligne dédiée au bien-être, à la santé et au bonheur des mamans et des futures mamans. Notre mission est d'accompagner chaque étape de votre voyage maternel avec des informations pratiques,
          <br>des conseils bienveillants et une communauté de soutien chaleureuse.
        </p>
        <p class="text-white text-xl tracking-tighter mt-4" style="font-family: 'helBold';">Abonnez Vous !</p>
        <div class="flex justify-start space-x-4 mt-4">
          <a href="https://www.instagram.com/mamiz.tn?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
            class="text-lightblue hover:text-white c1">
            <i class="fa-brands fa-instagram fa-2xl"></i>
          </a>
          <a href="https://www.facebook.com/mamiztn/" class="text-lightblue hover:text-white c1">
            <i class="fa-brands fa-facebook fa-2xl"></i>
          </a>
          <a href="https://www.tiktok.com/@mamiztn?lang=en" class="text-lightblue hover:text-white c1">
            <i class="fa-brands fa-tiktok fa-2xl"></i>
          </a>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-lg font-semibold uppercase text-white" style="font-family: helBold;">
            Sommaire</h2>
          <ul class="text-white font-medium list-disc ml-3">
            <li class="mb-2">
              <a routerLink="/home/article" class="hover:underline">Article</a>
            </li>
            <li class="mb-2">
              <a routerLink="/home/atelier" class="hover:underline">Atelier</a>
            </li>
            <li class="mb-2">
              <a routerLink="/home/event" class="hover:underline">Evenements</a>
            </li>
            <li class="mb-2">
              <a routerLink="/home/depot" class="hover:underline">Depot</a>
            </li>
            <li class="mb-2">
              <a routerLink="/home/medcin" class="hover:underline">Medecins</a>
            </li>
            <li class="mb-2">
              <a routerLink="/home/forum" class="hover:underline">Forum</a>
            </li>
            <li class="mb-2">
              <a routerLink="/home/info" class="hover:underline">À propos</a>
            </li>
          </ul>
        </div>

        <div>
          <h2 class="mb-6 text-lg font-semibold uppercase text-white" style="font-family: helBold;">
            Contacter nous</h2>
          <ul class="text-white font-medium">
            <li class="mb-4">
              <a class="hover:underline"><i class="fa-solid fa-phone"></i> (+216) 98 765 432</a>
            </li>
            <li class="mb-4">
              <a class="hover:underline"> <i class="fa-solid fa-envelope"></i> mamiz.tn@gmail.com</a>
            </li>
            <li>
              <a href="https://maps.app.goo.gl/hguSCjpH81SUYW8r5" class="hover:underline"> <i
                  class="fa-solid fa-location-dot"></i> Bureau A1, Immeuble <br> Tamayoz,Centre urbain nord.</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-lightblue sm:mx-auto  lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-lightblue sm:text-center ">© 2024 <a href="#" class="hover:underline">Mamiz™</a>. All
        Rights Reserved.
      </span>
      <div class="flex mt-4 sm:justify-center sm:mt-0 gap-5 text-sm text-lightblue">
        <a href="/home/info/aboutUs" class="hover:underline">À propos de Mamiz.tn</a>
        <a href="/home/info/PolitiqueDeConfidentialité" class="hover:underline">Politique de confidentialité</a>
      </div>
    </div>
  </div>
</footer>