<div>
  <p class="font-bold text-3xl text-center tracking-tight">
    List d'article
  </p>
  <div>
    <div class="flex justify-center gap-3 ">
      <div class="relative w-96 my-3 ">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <input type="text" id="simple-search"
              class="bg-gray-50 border-2 border-lightblue text-gray-900 text-sm rounded-lg focus:ring-teal focus:border-lightblue block w-full ps-10 p-2.5"
              placeholder="cherhcer par titre ou mot clé" (input)="onSearchChange($event)" />

      </div>
      <button routerLink="/dashboard/create/atelier"
          class="font-bold  my-3 text-teal hover:text-white border-2 border-teal bg-white hover:bg-teal w-fit rounded-lg p-2 transition-colors duration-200 cursor-pointer">
          <i class="fa-solid fa-plus"></i> Créer
      </button>
  </div>

  </div>
  <div>
    <p-table [value]="filteredArticles" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '45rem' }" styleClass="p-datatable-striped"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">
            Image
          </th>
          <th pSortableColumn="title" style="width: 25%">
            <p-sortIcon field="title" />Titre
          </th>
          <th pSortableColumn="date" style="width: 10%">
            <p-sortIcon field="date" />date
          </th>
          <th style="width: 15%">Theme
            <p-columnFilter field="theme" matchMode="equals" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Theme"
                  [showClear]="true" optionLabel="name" optionValue="value">
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </th>
          <th style="width: 25%">

          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-article>
        <tr>
          <td>{{ article.mainPic }}</td>
          <td>{{ article.title }}</td>
          <td>{{ article.date | date: "hh:mm dd/MM/yyyy" }}</td>
          <td>
            <p class="text-white font-bold  w-fit px-2 text-xs md:text-base"
              [ngStyle]="{ 'background-color': getThemeColor(article.theme) }">{{ article.theme | capitalizeFirst }}</p>
          </td>
          <td class="flex gap-2 items-center  justify-between">

            <p class="bg-gray-400 w-fit px-2 rounded text-white hover:bg-slate-600" (click)="showDetails(article)">
              Details <i class="fa-solid fa-arrow-right"></i>
            </p>
            <div class="flex gap-3">
              <p class="bg-blue-500 w-fit px-2 pt-1 rounded text-white hover:bg-blue-600">
                <i class="fa-solid fa-pen"></i>
              </p>
              <p class="bg-red-500 w-fit px-2 pt-1 rounded text-white hover:bg-red-600" (click)="showDelete(article.id)">
                <i class="fa-solid fa-trash"></i>
              </p>
            </div>
          </td>
        </tr>
        <hr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">Aucun utilisateur trouvé.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog header="Voulez-vous vraiment supprimer l'article?" [(visible)]="visible1" [modal]="true"
  [style]="{ width: 'auto', 'border-radius': '1rem' }">
  <div class=" flex justify-evenly">
    <button (click)="deleteArticle()" class="bg-green-500 text-white px-2 rounded"><i class="fa-solid fa-check"></i> Oui
      supprimer l'article</button>
    <button (click)="annuler()" class="bg-red-500 text-white px-2 rounded"><i class="fa-solid fa-x"></i> Non
      annuler</button>
  </div>
</p-dialog>
<p-dialog header="Details de l'article" [(visible)]="visible2" [modal]="true"
  [style]="{ width: 'auto', 'border-radius': '1rem' }">
  <div class="md:col-span-4">
    <p-scrollTop styleClass="custom-scrolltop bg-teal"></p-scrollTop>

    <div class="flex flex-col md:m-5 lg:m-10" [ngClass]="{'arabicfont items-end': isArabic(articleDetail?.title ?? '')}">
      <div [ngClass]="{' text-right': isArabic(articleDetail?.title ?? '')}">
        <p class=" font-bold tracking-tight bg-teal w-fit px-2 text-white"
          [ngStyle]="{ 'background-color': getThemeColor(articleDetail?.theme ?? '') }">
          {{ articleDetail?.theme  }}
        </p>
        <p class="text-7xl font-bold tracking-tighter"
          [ngClass]="{'arabicfont text-right': isArabic(articleDetail?.title ?? '')}">
          {{ articleDetail?.title   }}
        </p>
        <p class="text-gray-400 tracking-tighter mt-3">
          Par Admins, <span class="italic">{{ articleDetail?.date | date: 'dd MMMM yyyy' }}</span>
        </p>
      </div>
      <p class="tracking-tighter font-bold text-xl text-gray-700 mt-3"
        [ngClass]="{'arabicfont tracking-normal text-right': isArabic(articleDetail?.title ?? '')}">
        {{ articleDetail?.description }}
      </p>
      <img src="assets/useful stuff/Studentinclassroom.jpeg" alt="" class="max-h-svh w-fit m-4">

      <!-- chapters houni -->
      <ng-container *ngFor="let chap of articleDetail?.chapters">
        <div class="chapter-container ">
          <hr class="w-full border-lightblue my-6" *ngIf="chap.title">
          <div class=" space-y-4 m-4">
            <p class="text-5xl font-bold tracking-tighter "
              [ngClass]="{'arabicfont tracking-normal text-right': isArabic(articleDetail?.title ?? '')}">
              {{ chap.title | capitalizeFirst }}
            </p>
            <p class="text-xl tracking-tight text-justify indent-2 text-gray-700"
              [ngClass]="{'arabicfont tracking-normal indent-0 text-end': isArabic(articleDetail?.title ?? '')}">
              {{ chap.description }}
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</p-dialog>
