/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
    font-family: "helBold";
    src: url("assets\fonts\Helvetica-Bold.ttf");
}

@font-face {
    font-family: "hel";
    src: url("assets\fonts\Helvetica.ttf");
}
@font-face {
    font-family: "Cairo";
    src: url("assets\fonts\CodecPro-Regular.ttf");
}

*{
    font-family:  'Cairo';
}
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

