<div
  class="hidden md:block max-w-xs md:max-w-full p-6 text-center bg-white border-2 hover:border-teal border-lightblue transition-colors duration-200 rounded-xl shadow mb-4"
>
  <p class="text-3xl font-bold tracking-tighter text-darkpink">
    Avez vous Quelque chose à vendre?
  </p>
  <div class="card flex justify-center">
    <button
      *ngIf="canCreatePost()"
      (click)="showDialog()"
      class="hover:bg-lightblue border-2 rounded-xl px-3 py-1 mt-3 transition-colors duration-200 border-lightblue font-bold hover:shadow-lg"
    >
      <i class="fa-solid fa-circle-plus"></i> Publier une annonce
    </button>
    <div *ngIf="!canCreatePost()">
      <p>Please log in to create a post.</p>
    </div>
    <p-dialog
      header="Creez Une Annonce"
      [(visible)]="visible"
      [modal]="true"
      [style]="{ width: 'auto', 'border-radius': '1rem' }"
    >
      <app-create-depot (formSubmitted)="visible = false"></app-create-depot>
    </p-dialog>
  </div>
</div>
