<div class="grid grid-cols-1 gap-4">
    <div *ngIf="filteredDepots.length==0" class="tracking-tighter text-xl">Il n'y a pas d'annonce</div>
    <div *ngFor="let depot of filteredDepots"
        class="bg-white rounded-lg shadow-md p-4 flex justify-between items-center w-96">
        <div class="tracking-tighter">
            <h2 class="text-xl font-semibold">{{ depot.name }}</h2>
            <p class="text-gray-600 text-sm line-clamp-1">{{ depot.description }}</p>
            <p class="text-gray-600 text-sm">Price: {{ depot.price | currency:'TND':'symbol':'1.2-2'}}</p>
            <p class="text-gray-400 text-xs">Location: {{ depot.adresse }}</p>
            <p class="text-gray-400 text-xs italic">
                 {{ depot?.depotDate | date: "medium" }}
            </p>
        </div>
        <div class="flex flex-col justify-between items-center">
            <button (click)="deleteDepot(depot?.id)"
                class="bg-red-500 text-white rounded-lg px-4 py-2 hover:bg-red-600">
                Delete
            </button>
        </div>
    </div>
</div>