<form [formGroup]="generalInfoForm" (ngSubmit)="onSubmitGeneralInfo()">
    <div class="grid md:grid-cols-4 gap-4 mt-3">
      <div class="relative">
        <input type="text" id="nom" formControlName="nom" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-lightblue peer focus:border-2" />
        <label for="nom" class="absolute text-sm text-gray-500 focus:text-lightblue duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-lightblborder-lightblue peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
          Nom
        </label>
      </div>
      <div class="relative">
        <input type="text" id="prenom" formControlName="prenom" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-lightblue peer focus:border-2" />
        <label for="prenom" class="absolute text-sm text-gray-500 focus:text-lightblue duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-lightblborder-lightblue peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
          Prénom
        </label>
      </div>
      <div class="relative">
        <input type="number" id="numeroDeTelephone" formControlName="numTel" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-lightblue peer focus:border-2" />
        <label for="numeroDeTelephone" class="absolute text-sm text-gray-500 focus:text-lightblue duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-lightblborder-lightblue peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
          votre Numero
        </label>
      </div>
      <div class="relative">
        <input type="text" id="email" formControlName="email" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-lightblue peer focus:border-2" />
        <label for="email" class="absolute text-sm text-gray-500 focus:text-lightblue duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-lightblborder-lightblue peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
          Email
        </label>
      </div>
    </div>
    <div *ngIf="isMedcin" class="">
      <hr class="my-3 border-lightblue">
      <h1 class="my-1 font-bold text-xl tracking-tighter">Informations Medecin:</h1>
      <div class="grid grid-cols-2 my-1 gap-3">
        <div class="relative">
          <input type="text" id="adresse" formControlName="adresse" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-lightblue peer focus:border-2" />
          <label for="adresse" class="absolute text-sm text-gray-500 focus:text-lightblue duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-lightblborder-lightblue peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
            Adresse
          </label>
        </div>
        <div class="relative">
          <input type="text" id="specialite" formControlName="specialite" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-lightblue peer focus:border-2" />
          <label for="specialite" class="absolute text-sm text-gray-500 focus:text-lightblue duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-lightblborder-lightblue peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
            Specialité
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="bg-lightblue px-3 py-1 rounded-lg hover:shadow-lg transition-shadow duration-150 font-bold items-center justify-center" [disabled]="!generalInfoForm.dirty">Submit <i class="fa-solid fa-arrow-right"></i></button>
  </form>
  
  <form [formGroup]="passwordForm" >
    <div>
      <hr class="my-3 border-lightblue">
      <p class="my-1 font-bold text-xl tracking-tighter">Changer mot de passe</p>
      <div class="grid md:grid-cols-5 gap-3">
        <div class="relative col-span-2">
          <input type="password" id="oldPassword" formControlName="oldPassword" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-lightblue peer focus:border-2" />
          <label for="oldPassword" class="absolute text-sm text-gray-500 focus:text-lightblue duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-lightblborder-lightblue peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
            Mot de passe Ancienne
          </label>
        </div>
        <div class="relative col-span-2">
          <input type="password" id="newPassword" formControlName="newPassword" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-lightblue peer focus:border-2" />
          <label for="newPassword" class="absolute text-sm text-gray-500 focus:text-lightblue duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-lightblborder-lightblue peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
            Nouvelle Mot de passe
          </label>
        </div>
        <button type="submit" class="bg-pink text-white px-3 py-1 rounded-lg hover:shadow-lg transition-shadow duration-150 font-bold items-end justify-center" [disabled]="!passwordForm.dirty">Changer <i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
  </form>
  