<div class="relative w-full mt-1">
  <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  <input type="text" id="simple-search"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lightblue focus:border-lightblue block w-full ps-10 p-2.5"
    placeholder="Ecrivez un mot clé" 
    (input)="onSearchChange($event)"  
  />
</div>
<div *ngIf="displayedArticles.length === 0" class="align-middle items-center flex justify-center font-bold text-xl">Pas d'articles trouvés.</div>
<div *ngFor="let article of displayedArticles" class="article-card">
  <div class="my-1 bg-white rounded-xl p-2 flex gap-4 items-end">
    <img src="assets/useful stuff/Studentinclassroom.jpeg" alt="" class="max-h-14 md:max-h-28">
    <div class="flex flex-col justify-between h-full">
      <div class="mt-auto">
        <p class="bg-teal w-fit text-xs md:text-base px-2 text-white">
          {{ article.category }}
        </p>
        <h2 class="font-extrabold tracking-tight md:text-2xl line-clamp-2">{{ article.title }}</h2>
        <p class=" text-xs md:text-sm text-gray-400 tracking-tighter italic">
          19 Septembrre 2023
        </p>
      </div>
    </div>
  </div>
  <hr>
</div>

<!-- PrimeNG Paginator -->
<p-paginator 
  [rows]="articlesPerPage" 
  [totalRecords]="filteredArticles.length"
  (onPageChange)="changePage($event)">
</p-paginator>
