.profile-card {
    max-height: 80px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

@media (min-width: 1024px) {
    .profile-card:hover {
        max-height: 200px;
    }

    .profile-card:hover .additional-info {
        display: block;
    }
}

.additional-info {
    display: none;
}

@media (min-width: 1024px) {
    .profile-card:hover .additional-info {
        display: block;
    }
}