<button>
    <div id="profileCard"
         class=" profile-card flex items-center gap-3 bg-white border border-teal w-full sm:w-40 md:w-56 lg:w-60 p-3 rounded-xl hover:shadow-lg hover:border-2 transition-shadow duration-150">
        <img [src]="'assets/logos/' +profilePic" alt="" class="h-7 md:h-14 justify-start rounded-full">
        <div class="text-left">
            <p class="font-bold tracking-tighter text-xs sm:text-sm md:text-base lg:text-xl line-clamp-2">
                Dr. {{nom}} {{prenom}}
            </p>
            <p class="text-teal text-xs sm:text-sm md:text-base">
                {{specialite}}
            </p>
            <hr>
            <div class="additional-info text-xs sm:text-sm md:text-base line-clamp-2 hidden">
                <p><span class="font-bold">Adresse:</span> {{adresse}} </p>
                <p><span class="font-bold">Numero:</span> {{numTel}}</p>
            </div>
        </div>
    </div>
</button>
