<section class="py-8 bg-lightpink px-5 flex flex-col xl:flex-row md:justify-center md:items-center lg:justify-around">
  <div>
    <h2 class="text-3xl md:text-7xl font-bold mb-4 text-left">Evenements</h2>
    <div class="flex flex-col items-left space-y-4">
      <ng-container *ngFor="let event of events | slice:0:4" >
        <app-event-card [id]="event?.id" [title]="event?.title" [date]="event?.date" [desc]="event?.description" (click)="navigateToDetails(event.id)"></app-event-card>
      </ng-container>
      
     
    </div>
  </div>
  <div class="lg:border-l-2 border-pink lg:pl-9 sm:mt-0 mt-5 md:mt-4 md:pt-2">
    <app-forum></app-forum>
  </div>
</section>